<div class="windWindow">

  <div class="image-container" >
      <img src="assets/arrow.gif" [ngStyle]="applyRotation()">
  </div>
  <div class="wind-speed">
      <strong>{{wind.speed}} m/s</strong>
    </div>

</div>
