<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="#">Weather</a>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <input class="form-control mr-sm-2" type="text" [(ngModel)]="cityName" placeholder="Enter city name" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0"  (click)="showWeather()">Get Weather</button>
</div>
</nav>