<div class="row">
  <div class="col">
    <img [src]='getWeatherIconAddress()'/>
  </div>
  <div class="col temperature-value">
    <span class="align-middle">
      {{main.temp | tempFromKalvin | number:'1.0-1'}}°
    </span>
  </div>
</div>