
  


<div *ngIf="currentWeatherData" class="container-fluid">
  <div class="row">
    <div class="col-6">
      <app-temperatures [weather]="currentWeatherData.weather[0]" [main]="currentWeatherData.main"></app-temperatures>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col">
          <span class="location-name">
            <strong>{{currentWeatherData.name}}</strong>
          </span>
        </div>
        <div class="col">
          
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-wind [wind]="currentWeatherData.wind"></app-wind>
        </div>
        <div class="col">
          <app-pressure-humidity [main]="currentWeatherData.main"></app-pressure-humidity>
        </div>
      </div>
    </div>
  </div>
</div>